<h4>All Stories:</h4>

<%= link_to 'New Story', new_story_path %>
<div class="stories_list">
  <ul>
    <% @stories.each do |story| %>
      <% @story = story %>
      <li><%= render 'description' %></li>
    <% end %>
  </ul>
</div>
